.header {
  text-align: center;
}

.searchbar {
  text-align: center;
}

/* .newslist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newsitem {
  border: 5px solid red;
  width: 600px;
} */